<!DOCTYPE html>
<html lang="en">
<head>
  <title>Utility Calculator</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="fixed-top" >
    <div class= "text-center">
        <h1>Xian University Of Technolgy Students  Utility Bill Calculator</h1>
    </div>
  </div>
{% block content %}



{% endblock %}

<div class="fixed-bottom">
  <div class="text-center">
      <b> Please Note </b>
      <p> This program calculates the bill by using the rate provided by the 
        International Affairs Office. Water rate of 3.9 Per Cubic meter and Electricity rate of 0.5 per  
      </p>
  </div>
  <b>By: Nash_TGC & Co. </b>
</div>
</body>
</html>